* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    margin-left: auto;
    gap: 18px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.nav {
    display: flex;
    padding: 20px 150px 0;
    background-color: #1F2937;
    align-items: center;
    justify-content:center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.hero {
    background-color: #1F2937;
    display: flex;
    padding: 90px 150px;
    gap: 50px;
}

.left {
    display: flex;
    flex-direction: column;
    flex-basis: 450px;
}

.left p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 12px 0;
}

button {
    background-color: #3882F6;
    border-radius: 8px;
    border-color: #3882F6;
    color: #f9faf8;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 16px;
    width: 150px;
}

.hero img {
    display: flex;
    height: 300px;
    width: auto;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    padding: 90px 225px;
}

h2 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
    margin-bottom: 50px;
    text-align: center;
}

.tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.tile {
    width: 150px;
    text-align: center;
}

.tile img {
    width: 150px;
    height: auto;
    border-radius: 20px;
    border: 5px solid #3882F6;
    margin-bottom: 6px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    background-color:#E5E7EB;
    padding: 90px 350px;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

.signature {
    text-align: right;
    font-weight: 700;
    font-size: 24px;
}

.action-container {
    display: flex;
    margin: 90px 250px;
    padding: 50px 100px;
    gap: 50px;
    background-color: #3882F6;
    border-radius: 8px;
    align-items: center;
}

h3 {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.action-left p {
    font-size: 18px;
    color: #E5E7EB;
}

.action-right {
    margin-left: auto;
}

.action-right button {
    background-color: #3882F6;
    border-radius: 8px;
    border-color: #f9faf8;
    border-style: solid;
    color: #f9faf8;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 16px;
    width: 150px;
}

.footer {
    display: flex;
    padding: 20px 150px;
    background-color: #1F2937;
    align-items: center;
    justify-content:center;
    color: #e5e5e5;
}